@model IEnumerable<Mihu_Project.Models.Bill>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.StaffID)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.State)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DiscountValue)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.StaffID)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.State)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.DiscountValue)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
