
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fontsCreate/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css/styleCreate.css">
</head>
@{
    string error = ViewBag.Error;
}
<body>



    <div class="wrapper">
        <div class="inner">
            <form action="~/Home/CreateCustomer" method="post">
                <h3>Registration Form</h3>
                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Username:</label>
                    <input type="text" name="txtUsername" class="form-control" id="username" value="@Request["txtUsername"]">
                    <span id="errorUsername" style="color:red; font-size:17px;"></span>
                </div>
                @if (error != null)
                {
                    <span style="color:red; font-size:17px;">
                        @error
                    </span><br />
                }

                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Fullname:</label>
                    <input type="text" name="txtFullname" id="fullname" class="form-control" value="@Request["txtFullname"]">
                    <span id="errorFullname" style="color:red; font-size:17px;"></span>
                </div>
                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Password</label>
                    <input type="password" name="txtPassword" id="pass" class="form-control" value="@Request["txtPassword"]">
                    <span id="errorPassword" style="color:red; font-size:17px;"></span>
                </div>
                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Confirm Password</label>
                    <input type="password" id="confirmPass" value="@Request["txtPassword"]" onblur="CheckPassword()" class="form-control">
                    <span id="errorConfirm" style="color:red; font-size:17px;"></span>
                </div>
                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Address</label>
                    <input type="text" name="txtAddress" id="address" class="form-control" value="@Request["txtAddress"]">
                    <span id="errorAddress" style="color:red; font-size:17px;"></span>
                </div>
                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Email</label>
                    <input type="email" id="email" name="txtEmail" class="form-control" required value="@Request["txtEmail"]">
                </div>
                <div class="form-wrapper">
                    <label for="" style="font-size: 19px;">Telephone: </label>
                    <input type="text" id="phone" name="txtPhone" pattern="^[0-9]+$" class="form-control" value="@Request["txtPhone"]">
                </div>
                <button onclick="return CheckValidation();">Register Now</button>

            </form>
            <!---->
            <form action="~/Home/Index" id="index">
            </form>
        </div>
    </div>
    @{
        int tmp = -1;
        if (ViewBag.CreatSuccess != null)
        {
            tmp = int.Parse(ViewBag.CreatSuccess + "");
        }
    }
    <script>
        function notification() {

            if (@tmp== 1) {
                var c = confirm("Register success! Login now ?");
                if (c == true) {
                    document.getElementById("index").submit();
                } else {

                }
            }
        }

        function CheckValidation() {

            var findError = false;
            //username
            var username = document.getElementById("username");
            var patt = new RegExp(" ");
            if (username.value.trim().length == 0) {
                document.getElementById("errorUsername").innerHTML = "Username not allow empty.";
                findError = true;
            } else if (patt.test("" + username.value)) {
                 document.getElementById("errorUsername").innerHTML = "Username not allow contain space chacracter.";
                findError = true;
            }
            else {
                 document.getElementById("errorUsername").innerHTML = null;
            }

            //fullname
            var fullname = document.getElementById("fullname");
            if (fullname.value.trim().length == 0) {
                document.getElementById("errorFullname").innerHTML = "Fullname not allow empty.";
                findError = true;

            } else {
                document.getElementById("errorFullname").innerHTML = null;

            }
            //passowrd and confirm

            var pass = document.getElementById("pass");
            if (pass.value.trim().length == 0) {
                document.getElementById("errorPassword").innerHTML = "Password not allow empty.";
                findError = true;
            } else if (patt.test("" + pass.value)) {
                 document.getElementById("errorPassword").innerHTML = "Password do not contain space character.";
                findError = true;
            } else if (pass.value.trim().length != 0) {
                var confirmPass = document.getElementById("confirmPass");
                if (pass.value != confirmPass.value) {
                    document.getElementById("errorConfirm").innerHTML = "Confirm password not match with password.";
                    findError = true;
            }   else {
                    document.getElementById("errorConfirm").innerHTML = null;
                }
            }
            else {
                document.getElementById("errorPassword").innerHTML = null;
            }

            //address

            var address = document.getElementById("address");
            if (address.value.trim().length == 0) {

                document.getElementById("errorAddress").innerHTML = "Address not allow empty.";
                findError = true;
            } else {
                 document.getElementById("errorAddress").innerHTML = null;
            }
            if (findError) {

                return false;
            }

            return true;

        }

        function CheckPassword() {

            var pass = document.getElementById("pass");
            var confirmPass = document.getElementById("confirmPass");
            if (pass.value != confirmPass.value) {
                document.getElementById("errorConfirm").innerHTML = "Confirm password not match with password.";

            } else {
                 document.getElementById("errorConfirm").innerHTML = null;
            }
        }
        window.onload = notification;

    </script>

</body>
</html>