@model System.Data.DataTable
@{
    ViewBag.Title = "Admin_Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Admin">Admin</a>
        </li>
        <li class="breadcrumb-item active">Show Product</li>
    </ol>

<!-- DataTables Example -->
@TempData["ERROR"]
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Products
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>UnitPrice</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Picture</th>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>UnitPrice</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr>
                            <td style="width: 130px; text-align: center;"><img src="@Model.Rows[i][6]" width="130" height="130px" /></td>
                            <td class="align-middle">@Model.Rows[i][0]</td>
                            <td class="align-middle">@Model.Rows[i][4]</td>
                            <td class="align-middle">@Model.Rows[i][3]</td>
                            <td class="align-middle">@Model.Rows[i][7]</td>
                            <td class="align-middle text-center" style="width:200px;">
                                <a href="#">
                                    @if (TempData["SHOWPAGE"] != null && TempData["SHOWPAGE"].ToString().Equals("DELETEDPAGE"))
                                    {
                                        <a href="../Admin/ReAdd_Product?PRODUCTID=@Model.Rows[i][0]" onclick="return confirm('Are you sure to ReAdd @Model.Rows[i][0]')"><input type="button" name="btAction" value="ReAdd"></a>
                                        <a href="../Admin/Detail_Product?PRODUCTID=@Model.Rows[i][0]&prepage=del"><input type="button" name="btAction" value="Detail"></a>
                                    }
                                    else
                                    {
                                        <a href="../Admin/Delete_Product?PRODUCTID=@Model.Rows[i][0]" onclick="return confirm('Are you sure to delete @Model.Rows[i][0]')"><input type="button" name="btAction" value="Delete"></a>
                                        <a href="../Admin/Detail_Product?PRODUCTID=@Model.Rows[i][0]&prepage=show"><input type="button" name="btAction" value="Detail"></a>
                                    }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

